.loader_warper{
    position: fixed;
    top: 35%;
    left:40%;
    z-index: 1000;
    /* color: #e6531d; */
}

.progress{
 width:130px !important;
 height: 130px !important;  
color:rgb(248, 246, 246) !important ;
z-index: 1000;
}