.main-warper{
    /* height: 100%; */
    height: 100%;
    width:100%;
    background-color: #acadaf;
    display: flex;
justify-content:center;
align-items:center;
margin:auto;
    flex-direction:row; 
    margin-top:60px;
    font-family: 'Lato', sans-serif;
    
}
.nav-icon{
    width:40px !important;
    height: 40px !important;
    color:  #e7e7ee !important;
    text-decoration:none
}

.links{
     text-decoration:none;
     font-size:13px;
     color:#7f96ad;
     margin-left:7px;
     white-space: pre-line;
     overflow-wrap: break-word;
}

.dash-box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

.git-warper{
    margin:10px;
}
.records_links{
    color:#7f96ad !important;
 font-size:18px !important;
 font-weight:600;
}

 .records{
    font-size:16px !important;
    color:#c6d8f5 !important
}
.span-rec{
    color:#e7e7ee;
    margin-right:5px;
}

.forward-warper{
    background-color:#e0e0e4 !important;
    opacity:0.8;
    height: 30px;
}

.headers_table{
    font-size: 17px !important;
    color:#e7e7ee !important;
}
/* .navbar__link--active{
    width:100% !important;
   
    height:100%;
    text-align: center;
    background-color:#acadaf;
} */