
body {
  margin: 0;
  font-family: 'Heebo', 'Lato','Rubik',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color:#acadaf !important;
  overflow-x: hidden;
  margin:none;
  color:#e7e7ee !important;

}
a{
  font-family: 'Rubik', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Heebo', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav_link:hover{
  color:#081124 !important;
  transition:color 0.1s ;
  background-color:#acadaf;
  opacity:0.8;
  
}
.nav-icon:hover{
  color:#637296 !important;
  transition:color 0.1s
}